<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>님의 프로필</title>
</head>
<body>
    <img src="/<%=src%>" alt="" width="300px" height="400px"/>
    <div><%=id%></div>
    <p>비밀번호: <%=pw%></p>
    <p>이름: <%=name%></p>
    <p>나이: <%=age%></p>
</body>
</html>